.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bgMainColor);
}

.header img {
  width: 25px;
}

.nav_items img {
  margin: 0 0.8em;
}
