.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-align: center;
  padding: 1em 0.25em 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 0.5em;
}

.header img {
  width: 25px;
}

.header h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0em 2em 0 0;
}

.actionBtn svg {
  font-size: 2em;
  margin-right: 0.5em;
  margin-left: 1em;
  color: black;
}
