.invite_container {
  margin: 3.5em 0;
  padding: 0 1em 6em;
  height: 100vh;
  overflow: auto;
}

.invite_container::-webkit-scrollbar {
  width: 0.2em;
  background-color: #f5f5f5;
}
.invite_container::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

.invite_container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}

.headlineText {
  text-align: center;
  font-size: 17px;
  margin: 2em 0 2em 0;
}
.searchContainer {
  display: flex;
}

.searchFriends {
  padding: 0.25em 1em 0 2em;
  width: 80vw;
  background-color: var(--bgSecondaryColor);
  border-radius: 0.75em;
  border-color: var(--bgSecondaryColor);
  outline: none;
  margin-bottom: 1.5em;
  background-image: url(../../../images/search.png);
  background-size: 12px 12px;
  background-position: 10px center;
  background-repeat: no-repeat;
}

.searchFriends:focus {
  outline: none;
}

.addressIcon img {
  width: 25px;
  height: 25px;
  margin-top: 0.25em;
  margin-left: 1.75em;
}
