.activityCardContainer {
  padding: 0.5em 0.5em;
  cursor: pointer;
}

.activityCardContainer img {
  width: 25px;
  border-radius: 15px;
}

.cardTitle {
  font-weight: 600;
}

.cardDescription {
}

.cardTime {
  font-size: 12px;
}
